@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body {
    font-family: 'Plus Jakarta Sans', sans-serif;
}


.banner {
    background-image: url("./../../public/logo.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 300px;
    /* Adjust based on your design needs */
}

/* Optional: Add responsive background positioning */
@media (max-width: 768px) {
    .banner {
        background-size: cover;
        background-position: center top;
    }
}

/* Optional: Ensure text readability over the background */
.banner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.1);
    /* Light overlay if needed */
    pointer-events: none;
}

.linear-gradient {
    background: linear-gradient(305deg, #9F13FB 14.33%, #E95AFF 95.9%);
}